.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
ist

dist/digdir-0.1.0.tar.gz
dist/digdir-0.1.0-py3-none-any.whl
.env
dist/**
tests/__pycache__/**
src/digdir/__pycache__/**
principal_component_plot.png
